.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: calc(100vh-50vh);
  /* border: 1px solid black; */
}

.form_container input {
  width: 20rem;
  /* height: 1.5rem; */
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  caret-color: palevioletred;
}

.form_container input[type="submit"] {
  outline: none;
  background-color: palevioletred;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.auth_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: darkslategray;
}

.form_container {
  color: darkslategray;
}
